.ui.borderless.topmenu.container.menu {
  box-shadow: none;
  border: none;
}
.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 570px;
}
.footer-background {
  background-color: #004030;
  height: 120px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}